<!-- Container -->
<div class="content-wrap">

   <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">PROJECTS</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Past & Current</h5>
            <p class="small fontcolor-medium">
               Current and past projects, both open-source and otherwise.  Interesting in collaborating on an upcoming project?  Click on the <strong>CONTACT</strong> button above.
            </p>
         </div>
      </section>

      <!-- Projects -->
      <section class="inner-section">

         <div id="isotope-filters" class="port-filter port-filter-light text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
            <ul>
               <li><a href="#all" data-filter="*">All Categories</a></li>
               <li><a href="#design" data-filter=".design">Design</a></li>
               <li><a href="#news" data-filter=".news">News</a></li>
               <li><a href="#rss" data-filter=".rss">RSS</a></li>
               <li><a href="#rss" data-filter=".responsive">Responsive</a></li>
               <li><a href="#branding" data-filter=".branding">Branding</a></li>
               <li><a href="#rss" data-filter=".api">API</a></li>
            </ul>
         </div>

         <div class="dividewhite3"></div>

         <div class="grid container-fluid text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">

            <div id="posts" class="row popup-container">

                  <div class="grid-item branding news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                          <figure class="effect-goliath green">
                             <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                             <figcaption>
                                <div class="fig-description">
                                   <h3>Huffington <span>Post</span></h3>
                                   <p></p>
                                   <p>#news #rss #design #branding</p>
                                </div>
                             </figcaption>
                           </figure>
                         <div class="dividewhite1"></div>
                           <figcaption>
                            <div class="post-meta">
                              <span>by <a href="#!">Deven Blackburn</a>,</span> <span>25 March, 2016</span></div>
                                <div class="post-header">
                                  <h5><a href="#">News Feed Integration</a></h5>
                                </div>
                                <div class="post-entry">
                                  <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                                </div>
                                <div class="post-tag pull-left">
                                  <span><a href="#news" data-filter=".news">News</a>,</span>
                                  <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                  <span><a href="#design" data-filter=".design">Design</a></span>
                                </div>
                                <div class="post-more-link pull-right">
                                  <a href="#">More</a>
                                </div>
                             </figcaption>
                        </figure>
                      </div>
                  </div>
                  <div class="grid-item responsive design api branding col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath blue">
                           <img src="<%= image_path "project-expatik.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>EXPATik <span>App</span></h3>
                                <p></p>
                                <p>#responsive #design #branding #API</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>30 April, 2016</span></div>
                              <div class="post-header">
                                 <h5><a href="#">EXPATik Application</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>A city resource for the expat community. An in-depth resource of the top ranked cities for expats, based on affordability, healthcare, economic stability, and safety.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#responsive" data-filter=".responsive">Responsive</a>,</span>
                                <span><a href="#api" data-filter=".api">API</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss blog design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath purple">
                           <img src="<%= image_path "project-suavedeveloper.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>The Suave <span>Developer</span></h3>
                                <p></p>
                                <p>#news #blog #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>16 March, 2016</span></div>
                              <div class="post-header">
                                 <h5><a href="#">The Suave Developer/a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Curated design and frontend content for the suave developer.  Originally launched as part of a design-learning tool for coding bootcamp students.  Hone your UX skills at <i>The Suave Developer</i>.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#blog" data-filter=".blog">Blog</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                                <span><a href="#branding" data-filter=".branding">Branding</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath orange">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath red">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath yellow">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath green">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath blue">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item news rss design col-md-4 col-sm-6">
                     <div class="item-wrap">
                        <figure class="">
                        <figure class="effect-goliath purple">
                           <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt=""/>
                           <figcaption>
                              <div class="fig-description">
                                <h3>Huffington <span>Post</span></h3>
                                <p></p>
                                <p>#news #rss #design #branding</p>
                              </div>
                           </figcaption>
                         </figure>
                         <div class="dividewhite1"></div>
                         <figcaption>
                              <div class="post-meta"><span>by <a href="#!">Deven Blackburn</a>,</span> <span>March 16, 2015</span></div>
                              <div class="post-header">
                                 <h5><a href="#">RSS News Integration</a></h5>
                              </div>
                              <div class="post-entry">
                                 <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                              </div>
                              <div class="post-tag pull-left">
                                <span><a href="#news" data-filter=".news">News</a>,</span>
                                <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                                <span><a href="#design" data-filter=".design">Design</a></span>
                              </div>
                              <div class="post-more-link pull-right"><a href="#">More<i class="fa fa-long-arrow-right right"></i></a></div>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
                  <div class="grid-item grid-sizer branding col-md-4 col-sm-6">
                  </div>


               </div>
            </div>

         <div class="dividewhite3"></div>

      </section>

   </div>

</div>
