<!-- Intro and header -->

  <div id="blog" class="inner-content">

      <section id="page-title" class="inner-section">
         <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
            <h2 class="font-accident-two-normal uppercase">PROJECTS</h2>
            <h5 class="font-accident-one-bold hovercolor uppercase">Past & Current</h5>
            <p class="small fontcolor-medium">
               Current and past projects, both open-source and otherwise.  Interesting in collaborating on an upcoming project?  Click on the <strong>CONTACT</strong> button above.
            </p>
         </div>
      </section>

      <section class="inner-section">

    <!-- Filter Tags -->

        <div id="isotope-filters" class="port-filter port-filter-light text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
            <ul>
               <li><a href="#all" data-filter="*">All Categories</a></li>
               <li><a href="#design" data-filter=".design">Design</a></li>
               <li><a href="#nonprofit" data-filter=".nonprofit">Nonprofit</a></li>
               <li><a href="#news" data-filter=".news">News</a></li>
               <li><a href="#rss" data-filter=".rss">RSS</a></li>
               <li><a href="#responsive" data-filter=".responsive">Responsive</a></li>
               <li><a href="#branding" data-filter=".branding">Branding</a></li>
               <li><a href="#api" data-filter=".api">API</a></li>
            </ul>
        </div>

      <div class="dividewhite3"></div>

    <!-- Projects Block -->

      <div class="grid container-fluid text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">

          <div id="posts" class="row popup-container">

                <!-- Project: CONSTRUCTIVE -->

                  <div class="grid-item grid-sizer nonprofit responsive design api col-md-4 col-sm-6">
                    <div class="item-wrap">
                      <figure class="">

                      <!-- Project Image -->
                        <figure class="effect-goliath green">
                          <img src="<%= image_path "project-constructive.png" %>" class="img-responsive hvr-grow" alt="Be Constructive"/>
                            <figcaption>
                              <div class="fig-description">
                                <h3>Constructive</h3>
                                  <p></p>
                                  <p>#responsive #nonprofit #design #api</p>
                              </div>
                            </figcaption>
                          </figure>

                        <div class="dividewhite1"></div>

                    <!-- Project Author and Timestamp -->
                      <figcaption>
                        <div class="post-meta">
                          <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>25 April, 2016</span>
                        </div>

                        <div class="dividewhite1"></div>

                      <!-- Project Description -->
                        <div class="post-header">
                          <h5><a href="https://github.com/hkdeven/Be-Constructive">Constructive</a></h5>
                        </div>
                          <div class="post-entry">
                            <p>Built on behalf of <a href="http://www.thelastmile.org" target="_blank">The Last Mile</a>, this application was built as a design-oriented learning tool for developers in training. Content provided via the Dribbble API. Need inspiration for your project? Be inspired.<br><i>Be CONSTRUCTIVE</i>.</p>
                          </div>
                            <div class="post-tag pull-left">
                              <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                              <span><a href="#design" data-filter=".design">Design</a></span>
                              <span><a href="#api" data-filter=".api">api</a>,</span>
                              <span><a href="#nonprofit" data-filter=".nonprofit">nonprofit</a></span>
                            </div>

                          <div class="post-more-link pull-right">
                            <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                          </div>
                      </figcaption>

                    </figure>
                  </div>
                </div>

        <!-- Project: NEWS FEED -->

            <div class="grid-item grid-sizer responsive news rss col-md-4 col-sm-6">
              <div class="item-wrap">
                <figure class="">

                <!-- Project Image -->
                  <figure class="effect-goliath red">
                    <img src="<%= image_path "project-huffpost.png" %>" class="img-responsive hvr-grow" alt="News Feed"/>
                      <figcaption>
                        <div class="fig-description">
                          <h3>Huffington <span>Post</span></h3>
                            <p></p>
                            <p>#news #rss #branding</p>
                        </div>
                      </figcaption>
                    </figure>

                  <div class="dividewhite1"></div>

              <!-- Project Author and Timestamp -->
                <figcaption>
                  <div class="post-meta">
                    <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>25 March, 2016</span>
                  </div>

                  <div class="dividewhite1"></div>

                <!-- Project Description -->
                  <div class="post-header">
                    <h5><a href="https://github.com/hkdeven/Be-Constructive">News Feed Integration</a></h5>
                  </div>
                    <div class="post-entry">
                      <p>Coding and tech news served via Huffington Posts's Huffpost Code news feed using a RSS reader.  Shows current news relevant to the tech community.</p>
                    </div>
                      <div class="post-tag pull-left">
                        <span><a href="#news" data-filter=".news">News</a>,</span>
                        <span><a href="#rss" data-filter=".rss">RSS</a>,</span>
                        <span><a href="#responsive" data-filter=".responsive">responsive</a></span>
                      </div>

                    <div class="post-more-link pull-right">
                      <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                    </div>
                </figcaption>

              </figure>
            </div>
          </div>

        <!-- Project: EXPATik -->
          <div class="grid-item grid-sizer responsive design api branding col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="">

              <!-- Project Image -->
                <figure class="effect-goliath blue">
                  <img src="<%= image_path "project-expatik.png" %>" class="img-responsive hvr-grow" alt="EXPATik App"/>
                    <figcaption>
                      <div class="fig-description">
                        <h3>EXPATik</h3>
                          <p></p>
                          <p>#responsive #api #design #branding</p>
                      </div>
                    </figcaption>
                  </figure>

                <div class="dividewhite1"></div>

            <!-- Project Author and Timestamp -->
              <figcaption>
                <div class="post-meta">
                  <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>30 April, 2016</span>
                </div>

                <div class="dividewhite1"></div>

              <!-- Project Description -->
                <div class="post-header">
                  <h5><a href="https://github.com/hkdeven/EXPATik">EXPATik Application</a></h5>
                </div>
                  <div class="post-entry">
                    <p>An in-depth city resource for the expat community ranking cities based on affordability, healthcare, economic stability, and safety. Content pulled using APIs: GoogleMaps for city maps, GoodReads for location-based book recommendations, and Twitter city-specific expat community conversations.</p>
                  </div>
                    <div class="post-tag pull-left">
                      <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                      <span><a href="#branding" data-filter=".branding">branding</a>,</span>
                      <span><a href="#design" data-filter=".design">Design</a>,</span>
                      <span><a href="#api" data-filter=".api">api</a></span>
                    </div>

                  <div class="post-more-link pull-right">
                    <a href="https://github.com/hkdeven/EXPATik" target="_blank">More</a>
                  </div>
              </figcaption>

            </figure>
          </div>
        </div>

        <!-- Project: THE SUAVE DEVELOPER -->

          <div class="grid-item grid-sizer responsive design news blog col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="">

              <!-- Project Image -->
                <figure class="effect-goliath orange">
                  <img src="<%= image_path "project-suavedeveloper.png" %>" class="img-responsive hvr-grow" alt="The Suave Developer"/>
                    <figcaption>
                      <div class="fig-description">
                        <h3>the suave developer</h3>
                          <p></p>
                          <p>#responsive #blog #design #news</p>
                      </div>
                    </figcaption>
                  </figure>

                <div class="dividewhite1"></div>

            <!-- Project Author and Timestamp -->
              <figcaption>
                <div class="post-meta">
                  <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>16 March, 2016</span>
                </div>

                <div class="dividewhite1"></div>

              <!-- Project Description -->
                <div class="post-header">
                  <h5><a href="https://github.com/hkdeven/Be-Constructive">The Suave Developer</a></h5>
                </div>
                  <div class="post-entry">
                    <p>Curated design and frontend content for the suave developer.  Originally launched as part of a design-learning tool for coding bootcamp students.  Hone your UX skills at <i>The Suave Developer</i>.</p>
                  </div>
                    <div class="post-tag pull-left">
                      <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                      <span><a href="#design" data-filter=".design">Design</a>,</span>
                      <span><a href="#news" data-filter=".news">News</a>,</span>
                      <span><a href="#blog" data-filter=".blog">blog</a></span>
                    </div>

                  <div class="post-more-link pull-right">
                    <a href="https://github.com/hkdeven/Be-Constructive" target="_blank">More</a>
                  </div>
              </figcaption>

            </figure>
          </div>
        </div>

        <!-- Project: PORTFOLIO SITE -->

          <div class="grid-item grid-sizer responsive design blog col-md-4 col-sm-6">
            <div class="item-wrap">
              <figure class="">

              <!-- Project Image -->
                <figure class="effect-goliath purple">
                  <img src="<%= image_path "project-portfoliosite.png" %>" class="img-responsive hvr-grow" alt="The Suave Developer"/>
                    <figcaption>
                      <div class="fig-description">
                        <h3>Portfolio Site</h3>
                          <p></p>
                          <p>#responsive #blog #design</p>
                      </div>
                    </figcaption>
                  </figure>

                <div class="dividewhite1"></div>

            <!-- Project Author and Timestamp -->
              <figcaption>
                <div class="post-meta">
                  <span>by <a href="https://github.com/hkdeven">Deven Blackburn</a>,</span> <span>8 June, 2016</span>
                </div>

                <div class="dividewhite1"></div>

              <!-- Project Description -->
                <div class="post-header">
                  <h5><a href="https://github.com/hkdeven/Portfolio-Site">Porfolio Site</a></h5>
                </div>
                  <div class="post-entry">
                    <p>You're looking at it!  A place to showcase my work, experience, and references.</p>
                  </div>
                    <div class="post-tag pull-left">
                      <span><a href="#responsive" data-filter=".responsive">responsive</a>,</span>
                      <span><a href="#design" data-filter=".design">Design</a>,</span>
                      <span><a href="#blog" data-filter=".blog">blog</a></span>
                    </div>

                  <div class="post-more-link pull-right">
                    <a href="https://github.com/hkdeven/Portfolio-Site" target="_blank">More</a>
                  </div>
              </figcaption>

            </figure>
          </div>
        </div>

        </div>
      </div>
    <div class="dividewhite3"></div>
  </section>

</div>
