<!-- Intro and header -->
<div id="blog" class="inner-content color01">

  <section id="m-details" class="inner-section">
     <div class="container-fluid nopadding">

          <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
             <h3 class="font-accident-two-normal uppercase text-center">RESUME</h3>
             <div class="dividewhite1"></div>

          </div>

<!-- Headshot with Bio -->
    <!-- Offset col -->
      <div class="col-md-2 col-lg-2">&nbsp;</div>

    <!-- Headshot -->
      <div class="col-md-8 wow fadeInUp nopadding" data-wow-delay="0.5s" data-wow-offset="10">
        <div class="row">
          <div class="col-xs-3 col-md-3 col-lg-3">
            <%= image_tag "resume-headshot.png", alt: "Deven Blackburn", class: "img-responsive img-circle" %>
          </div>

        <!-- Bio -->
          <div class="col-xs-9 col-md-9 col-lg-9">
            <h5 class="font-accident-one-bold hovercolor uppercase">creative. proactive. builder.</h5>
            <p class="text-left small">
            Background rooted in community empowerment.  More than 10 years working with NGOs, like the United Nations World Tourism Organization (UNWTO), local govt., like the Greater Fort Lauderdale Convention & Visitors Bureau (GFLCVB), and thousands of small businesses and startups has given me a unique and broad insight into the many different ways community growth can position businesses to blossom.
            </p>
          </div>
        </div>

        <!-- <div class="divider-dynamic"></div> -->

        <div class="dividewhite1"></div>

      </div>
      </div>

<!-- Stats (Education, Skills, Expertise) -->
    <div id="blog" class="inner-content skin">

        <%= image_tag "bar.png", class: "img-responsive center-block" %>

      <div class="dividewhite2"></div>

      <div class="col-sm-4 col-md-4 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-education.png", alt: "Education", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-skills.png", alt: "Skills", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-expertise.png", alt: "Expertise", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

    <%= image_tag "bar.png", class: "img-responsive center-block" %>

    <div class="dividewhite2"></div>

      <div class="col-sm-12 col-md-12 wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
        <%= image_tag "resume-header-experience.png", class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-12 col-md-12">
        <%= image_tag "dotted-bar.png", class: "img-responsive center-block" %></div>

        <div class="dividewhite2"></div>

        <div class="wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
           <%= image_tag "resume-experience-block.png", alt: "Work History", class: "img-responsive center-block" %>
           <div class="dividewhite1"></div>
        </div>

</div>

  <section id="m-details" class="inner-section skin">
     <div class="container-fluid nopadding">

      <div class="col-sm-4 col-md-4 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-location.png", alt: "Fort Lauderdale, USA", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-phone.png", alt: "My Cell", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
         <h3 class="font-accident-two-normal uppercase"></h3>
         <%= image_tag "resume-web.png", alt: "Email and Website", class: "img-responsive center-block" %>
         <div class="dividewhite1"></div>
      </div>

    </div>
</section>

    <div class="dividewhite2"></div>

  </section>

</div>
