<!-- Intro Header -->

<div id="feedback" class="inner-content">

    <section id="page-title" class="inner-section color01">
       <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
          <h2 class="font-accident-two-normal uppercase">Contact</h2>
          <h5 class="font-accident-one-bold hovercolor uppercase">information and details</h5>
          <p class="small fontcolor-medium">
          Interesting in collaborating on an upcoming project?  Email me directly for fastest response time or via the form below.
          </p>

      <!-- Google Maps -->
      <div class="dividewhite1"></div>
        <div class="container-fluid nopadding wow fadeInLeft img-responsive" data-wow-delay="0.4s" data-wow-offset="10">
          <div id="map"></div>
        </div>

          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnevA6XkR3QwkolBDRvehGc3x3eDY71OI&callback=initMap">
          </script>

          <script>
                function initMap() {
                  var customMapType = new google.maps.StyledMapType([
                      {
                        stylers: [
                          {hue: '#f86584'},
                          {visibility: 'simplified'},
                          {gamma: 0.6},
                          {weight: 0.5}
                        ]
                      },
                      {
                        elementType: 'labels',
                        stylers: [{visibility: 'simplified'}]
                      },
                      {
                        featureType: 'water',
                        stylers: [{color: '#173e43'}]
                      }
                    ], {
                      name: 'Custom Style'
                  });
                  var customMapTypeId = 'custom_style';

                  var map = new google.maps.Map(document.getElementById('map'),
                  {
                    center: {lat: 26.122438, lng: -80.137314},
                    zoom: 14,


                    mapTypeId: google.maps.MapTypeId.TERRAIN
                  });

                  map.mapTypes.set(customMapTypeId, customMapType);
                  map.setMapTypeId(customMapTypeId);
                }
              </script>

      </div>
    </section>

<!-- Contact Links -->

   <section id="contacts-data" class="inner-block color01">
      <div class="container-fluid nopadding skin">
         <div class="row color01">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Location:</span></div>
                  <div class="col-sm-10"><p class="small">Fort Lauderdale, FL USA</p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Phone:</span></div>
                  <div class="col-sm-10"><p class="small">+1.954.348.7293</p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Skype:</span></div>
                  <div class="col-sm-10"><p class="small">@deven.blackburn</p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Email:</span></div>
                  <div class="col-sm-10"><p class="small">deven@codefll.org</p></div>
               </div>
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Twitter:</span></div>
                  <div class="col-sm-10"><p class="small"><a href="https://twitter.com/makecodenotwar">twitter.com/MakeCodeNotWar</a></p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Facbook:</span></div>
                  <div class="col-sm-10"><p class="small"><a href="https://www.facebook.com/hkdeven">facebook.com/hkdeven</a></p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Linkedin:</span></div>
                  <div class="col-sm-10"><p class="small"><a href="https://www.linkedin.com/in/devenblackburn">linkedin.com/in/devenblackburn</a></p></div>
               </div>
               <div class="row">
                  <div class="col-sm-2"><span class="font-accident-two-bold uppercase">Github:</span></div>
                  <div class="col-sm-10"><p class="small"><a href="https://github.com/hkdeven">github.com/hkdeven</a></p></div>
               </div>
            </div>
         </div>
      </div>

      <!-- Contact Form -->

          <section class="inner-section feedback feedback-light color01">
             <div class="container-fluid nopadding">
                <div class="row">

                   <div class="col-md-2">&nbsp;</div>
                   <div class="col-md-8 e-centered wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                      <div class="dividewhite1"></div>
                      <div id="form-messages"></div>
                      <form id="ajax-contact" method="post" action="assets/custom/php/form.php" class="wpcf7-form">
                         <div class="field">
                            <!--<label for="name">Name:</label>-->
                            <input type="text" id="name" name="name" placeholder="Name" required>
                         </div>

                         <div class="field">
                            <!--<label for="email">Email:</label>-->
                            <input type="email" id="email" name="email" placeholder="Email" required>
                         </div>

                         <div class="field">
                            <!--<label for="message">Message:</label>-->
                            <textarea id="message" name="message" placeholder="Message" rows="7" cols="30"  required></textarea>
                         </div>

                         <div class="dividewhite2"></div>

                         <div class="field text-center">
                            <button type="#" class="btn btn-lg btn-lgr-str">Send Message</button>
                         </div>
                      </form>
                   </div>
                   <div class="col-md-2">&nbsp;</div>
                   <div class="col-md-12 divider-dynamic"></div>
                </div>
             </div>
          </section>

   </section>

   <div class="dividewhite1"></div>

    <!-- Testmonials -->

      <section id="testmonials" class="inner-section skin">
         <div class="container-fluid nopadding">
           <div class="dividewhite2"></div>

            <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
               <h3 class="font-accident-two-normal uppercase text-center">Testmonials</h3>
               <h5 class="font-accident-one-bold uppercase hovercolor text-center">Just how amazing is deven to work with?</h5>
               <div class="dividewhite1"></div>
               <p class="small fontcolor-medium text-center">
                  Well you don't have to take my word for it.  See what past colleagues and clients have to say about my work.  Submit your own testimonial via the form below.
               </p>
            </div>

            <div class="dividewhite4"></div>

            <!-- Offset col -->
            <div class="col-md-2 col-lg-2">&nbsp;</div>

            <div class="row">

            <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
               <div class="row">
                  <div class="col-xs-3">
                    <img src="<%= asset_path "testimonial-richard.jpg" %>" alt="Richard Gray" class="img-responsive img-circle author-userpic">
                 </div>
                 <div class="col-xs-9">
                    <h5 class="font-accident-one-bold text-left uppercase">Richard Gray</h5>
                    <p class="small hovercolor"><b>Managing Director</b><br> Greater Fort Lauderdale Convention & Visitors Bureau</p>
                    <p class="text-left small">
                    I have worked with Deven for many years in my capacity as Vice Chairman of IGLTA. Deven is personable, pro-active and a team player who goes out of his way to support his team. Any company would be lucky to have have him.
                    </p>
                  </div>
               </div>
               <div class="divider-dynamic"></div>
            </div>
            </div>

            <!-- Offset col -->
            <div class="col-md-2 col-lg-2">&nbsp;</div>

            <div class="row">

              <div class="col-md-8 col-lg-8 wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                  <div class="row">
                     <div class="col-xs-3">
                       <img src="<%= asset_path "testimonial-deb.png" %>" alt="Deborah Sas" class="img-responsive img-circle author-userpic">
                    </div>
                    <div class="col-xs-9">
                       <h5 class="font-accident-one-bold text-left uppercase">Deborah Sas</h5>
                       <p class="small hovercolor"><b>Senior Director</b><br> MCI USA</p>
                       <p class="text-left small">
                        Deven is one of the best employees I've had a chance to work with to date. He is always professional regardless of the challenge ahead, extremely organized and the first to suggest solutions. I would hire him in a heartbeat.
                       </p>
                     </div>
                  </div>
                  <div class="divider-dynamic"></div>
               </div>

               <!-- Offset col -->
               <div class="col-md-2 col-lg-2">&nbsp;</div>

               <div class="row">

               <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                  <div class="row">
                     <div class="col-xs-3">
                       <img src="<%= asset_path "testimonial-loann.jpg" %>" alt="LoAnn Halden" class="img-responsive img-circle author-userpic">
                    </div>
                    <div class="col-xs-9">
                       <h5 class="font-accident-one-bold text-left uppercase">LoAnn Halden</h5>
                       <p class="small hovercolor"><b>Communications Director</b><br> IGLTA, Inc.</p>
                       <p class="text-left small">
                        Deven and I worked side by side at IGLTA for almost seven years and he was my most dedicated and intuitive collaborator. We created marketing materials for print and web on a shoestring, and it was his design savvy that made them soar. I can only imagine how far he'll go now with his Wyncode experience!
                       </p>
                     </div>
                  </div>
                  <div class="divider-dynamic"></div>
               </div>
               </div>

               <!-- Offset col -->
               <div class="col-md-2 col-lg-2">&nbsp;</div>

               <div class="row">

               <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                  <div class="row">
                     <div class="col-xs-3">
                       <img src="<%= asset_path "testimonial-matt.png" %>" alt="Matt Skallerud" class="img-responsive img-circle author-userpic">
                    </div>
                    <div class="col-xs-9">
                       <h5 class="font-accident-one-bold text-left uppercase">Matt Skallerud</h5>
                       <p class="small hovercolor"><b>President</b><br> Pink Banana Media</p>
                       <p class="text-left small">
                       Deven is excellent to work with... very conscientious about his work and very detail oriented, making working with him a pleasure. He was also very adept at solving tasks and challenges sent his way, whether they were administrative in nature or technical as related to some sort of social media marketing outreach or website update.
                       </p>
                     </div>
                  </div>
                  <div class="divider-dynamic"></div>
               </div>
               </div>

              <!-- Offset col -->
              <div class="col-md-2 col-lg-2">&nbsp;</div>

              <div class="row">

              <div class="col-md-8 col-lg-8 wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                     <div class="row">
                        <div class="col-xs-3">
                          <img src="<%= asset_path "testimonial-johnt.jpg" %>" alt="John Tanzella" class="img-responsive img-circle author-userpic">
                       </div>
                       <div class="col-xs-9">
                          <h5 class="font-accident-one-bold text-left uppercase">John Tanzella</h5>
                          <p class="small hovercolor"><b>President & CEO</b><br> IGLTA, Inc.</p>
                          <p class="text-left small">
                           I worked with Deven for over seven years.  He was a hard worker, detail oriented, very organized, and a staunch professional.  A solid asset to any company.  I wish him all the best!
                          </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>

               </div>
            </div>

            <div class="dividewhite4"></div>

         </div>
      </section>

   </div>
</div>
