<div class="col-md-8 nopadding skin">
   <div class="padding-50 wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="10">
      <div class="row nopadding">
         <div class="col-md-12 nopadding">
            <h3 class="font-accident-two-normal uppercase">About me</h3>
            <div class="quote">
              <h5 class="font-accident-one-bold hovercolor uppercase">Front+Back End Developer  •  Oenologist  •  Traveller</h5>
              <div class="dividewhite1"></div>
              <p class="small">
              Developer at Allied Buildings by day, ED for the <a href="http://fortlauderdaletech.org/" target="_blank" alt="Fort Lauderdale Tech Association">Fort Lauderdale Tech Association (FLTA)</a> by night. Lover of code, community, and wine.  <strong>#madeinFLL  #FLLtech</strong>
              </p>
            </div>
         </div>
      </div>
      <div class="divider-dynamic"></div>
      <div class="row nopadding">
         <div class="col-md-4 infoblock nopadding">
            <div class="row wow slideInLeft" data-wow-delay="0.4s" data-wow-offset="30" data-wow-duration="3s">
              <div class="col-sm-1 col-md-3">
                <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-frameworks.png", :size => '44x44' %>
                <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9 ">
                  <h5 class="font-accident-one-bold uppercase">Languages</h5>
                  <p class="small">
                     Ruby, Reactjs, HTML5, CSS3, SASS, Javascript, and JQuery. Database use includes PostgreSQL, sqlite, and SQL.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4 infoblock nopadding">
           <div class="row wow slideInLeft" data-wow-delay="0.6s" data-wow-offset="30" data-wow-duration="3s">
               <div class="col-sm-1 col-md-3 ">
                   <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-tools.png", :size => '44x44' %>
                 <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9 ">
                  <h5 class="font-accident-one-bold uppercase">Frameworks</h5>
                  <p class="small">
                     Rails, Redux, Wordpress, Ember, Bootstrap, Bourbon, React, and some Angular.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-4 infoblock nopadding">
           <div class="row wow slideInLeft" data-wow-delay="0.8s" data-wow-duration="3s" data-wow-offset="30">
               <div class="col-sm-1 col-md-3">
                   <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/icon-pen.png", :size => '40x40' %>
                 <div class="dividewhite1"></div></div>
               <div class="col-sm-11 col-md-9">
                  <h5 class="font-accident-one-bold uppercase">Primary Tools</h5>
                  <p class="small">
                     Agile Methodologies, OOP, MVC, Git and GitHub, Heroku, APIs, CMS, Google Apps, AWS, Sketch, Vim, and pgAdmin.
                  </p>
               </div>
            </div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
   </div>
</div>

<!-- Personal Information -->
<div class="col-md-4 personal nopadding">
   <div class="padding-50 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10" data-wow-duration="4s">
     <div class="dividewhite4"></div>
      <h3 class="font-accident-two-normal uppercase fontcolor-invert">Personal Info</h3>
      <div class="dividewhite2"></div>
      <div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase fontcolor-invert">Name:</p></div>
            <div class="two"><p class="small fontcolor-invert">Deven Blackburn</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase fontcolor-invert">Address:</p></div>
            <div class="two"><p class="small fontcolor-invert">Fort Lauderdale, FL USA</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase fontcolor-invert">Phone:</p></div>
            <div class="two"><p class="small fontcolor-invert">+1.954.348.7293</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase fontcolor-invert">Email:</p></div>
            <div class="two"><p class="small fontcolor-invert">deven@fortlauderdaletech.org</p></div>
         </div>
         <div class="fullwidth box">
            <div class="one"><p class="small font-regular-bold uppercase fontcolor-invert">Github:</p></div>
            <div class="two"><p class="small fontcolor-invert">github.com/hkdeven</p></div>
         </div>
      </div>
   </div>
</div>

</div>

<div class="row nopadding">

<!-- Experience -->
<div class="col-md-4 pro-experience nopadding">
   <div class="padding-50 wow fadeInRight" data-wow-delay="0.6s" data-wow-offset="5" data-wow-duration="2.5s">
      <h3 class="font-accident-two-normal uppercase fontcolor-invert">Experience</h3>
      <div class="dividewhite2"></div>
      <div class="experience">
         <ul class="">
            <li class="company uppercase">
              <a href="<%= resume_path %>">Fort Lauderdale Tech Association (FLTA)</a>
            </li>
            <li class="position">Founded in 2016</li>
            <li class="position"><strong>Executive Director</strong></li>
          </li>
          <li class="position">Created to build, better, and unify the growing tech industry in Broward County. Our mission is to provide a welcoming and supportive platform for the local tech community to meet and collaborate, create and find incubators for...</li>
          <a href="<%= resume_path %>">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/more.png", :size => '34x34'  %></a>
         </ul>
      </div>
   </div>
</div>

<!-- Learning Priorities -->
<div class="col-md-8 circle-skills nopadding seaweed">
   <div class="padding-50 wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="5" data-wow-duration="3s">
      <h3 class="font-accident-two-normal uppercase fontcolor-invert">Never Stop Learning</h3>
      <div>
         <div class="fullwidth box">
            <div class="two"><p class="small fontcolor-invert">A developer never stops learning.  Here is my current reading list.</p></div>
         </div>
      <div class="row">
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="80">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Javascript</h4>
                  <p class="small">
                     ReactJS, Redux, Angular 1.X, and NodeJS
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="10">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Front End & Design</h4>
                  <p class="small">
                     Sketch, InDesign, ReactJS
                  </p>
               </div>
            </div>
         </div>
         <div class="col-sm-4 nopadding">
            <div class="progressbar" data-animate="false">
               <div class="circle font-accident-one-normal fontcolor-invert" data-percent="10">
                  <div></div>
                  <h4 class="font-accident-one-normal uppercase">Reinforcement</h4>
                  <p class="small">
                     Ruby/Rails, JQuery, JS, Bootstrap
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
