<!-- Intro and header -->
<div id="blog" class="inner-content inner-page-color">

  <section id="m-details" class="inner-section">
     <div class="container-fluid nopadding">

          <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
             <h3 class="font-accident-two-normal uppercase text-center">RESUME</h3>
             <div class="dividewhite1"></div>
          </div>

<!-- Headshot with Bio -->
    <!-- Offset col -->
      <div class="col-md-2 col-lg-2">&nbsp;</div>

      <div class="col-md-8">
        <div class="row">

        <!-- Bio -->
          <div class="col-xs-9 col-md-9 col-lg-9 wow fadeInLeft nopadding" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2s">
            <h5 class="font-accident-one-bold hovercolor uppercase text-right">creative. proactive. builder.</h5>
            <p class="text-right small">
            Background rooted in community empowerment and project management.  More than 10 years working with NGOs, like the United Nations World Tourism Organization (UNWTO), local govt., like the Greater Fort Lauderdale Convention & Visitors Bureau (GFLCVB), and thousands of small businesses and startups has given me a broad perspective with strong project management focus.
            </p>
          </div>

        <!-- Headshot -->
          <div class="col-xs-3 col-md-3 col-lg-3 wow fadeInRight" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2s">
            <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-headshot.png", alt: "Deven Blackburn", class: "img-responsive img-circle" %></a>
          </div>

        </div>

        <div class="divider-dynamic"></div>
        <div class="dividewhite1"></div>

      </div>
    </div>

<!-- Stats (Education, Skills, Expertise) -->
    <div id="blog" class="inner-content skin">

        <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/bar.png", class: "img-responsive center-block" %>

      <div class="dividewhite2"></div>

      <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10" data-wow-duration="2">
        <h3 class="font-accident-two-normal uppercase"></h3>
          <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
          <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-education.png", alt: "Education", class: "img-responsive center-block" %></a>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10" data-wow-duration="2.5">
         <h3 class="font-accident-two-normal uppercase"></h3>
            <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-skills.png", alt: "Skills", class: "img-responsive center-block" %></a>
         <div class="dividewhite1"></div>
      </div>

      <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.8s" data-wow-offset="10" data-wow-duration="3">
         <h3 class="font-accident-two-normal uppercase"></h3>
          <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
         <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-expertise.png", alt: "Expertise", class: "img-responsive center-block" %></a>
         <div class="dividewhite1"></div>
      </div>

    <!-- Line -->
      <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/bar.png", class: "img-responsive center-block" %>

      <div class="dividewhite2"></div>
      <div class="divider-dynamic"></div>

      <div class="col-sm-12 col-md-12 wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10" data-wow-duration="2">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-header-experience.png", class: "img-responsive center-block" %>
      </div>

      <div class="col-sm-12 col-md-12">
        <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/dotted-bar.png", class: "img-responsive center-block" %>
      </div>

      <div class="dividewhite1"></div>
      <div class="divider-dynamic"></div>

    <!-- List of companies -->
      <section id="testmonials" class="inner-section">
        <div class="container-fluid nopadding">

          <!-- Employer: Allied Steel Buildings -->
           <div class="row">
              <div class="col-md-10 wow">
                 <div class="row">

                 <!-- Company Logo -->
                    <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                      <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                      <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-allied.jpg", alt: "Allied Steel Buildings", class: "img-responsive pull-right" %></a>
                    </div>

                  <!-- Positon Date and Description -->
                    <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                      <h5 class="font-accident-one-bold text-left uppercase">Software Developer</h5>
                      <p class="small hovercolor">Allied Steel Buildings</p>
                      <div class"experience date"><p>2016 - present</p></div>
                        <p class="text-left small">
                        Responsible for website development, updates, and deployment. Assist with UI/UX design, site architecture, CRM workflow and automation, database reporting and logic, and various marketing campaigns.  Heavy API usage across all products and internal workflows.  Generally work to improve efficiency at every level of the organization.  Common workplace tools include all Zoho products, Contentful, Google Fusion Tables, Google Apps for Business, Git & GitHub, Sketch, Atom, Reactjs, Redux, Webpack, Node, Bootstrap, SQL, and AWS.
                      </p>
                    </div>

            </div>
            <div class="divider-dynamic"></div>
          </div>
        </div>

        <!-- Employer: Allied Steel Buildings -->
           <div class="row">
              <div class="col-md-10 wow">
                 <div class="row">

                 <!-- Company Logo -->
                    <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                      <a href="https://www.meetup.com/Nerd-Nite-Fort-Lauderdale" target="_blank">
                      <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-nerdnite.jpg", alt: "Nerd Nite Fort Lauderdale", class: "img-responsive pull-right" %></a>
                    </div>

                <!-- Positon Date and Description -->
                    <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                      <h5 class="font-accident-one-bold text-left uppercase">Organizer / Boss</h5>
                      <p class="small hovercolor">Nerd Nite Fort Lauderdale</p>
                      <div class"experience date"><p>July, 2017 - present</p></div>
                        <p class="text-left small">
                        A monthly event where 3-4 presenters share insight into a topic of person interest while the audience drinks along. It’s like the Discovery Channel… with booze! The drinking is just as important as the learning. Typically held at the Funky Buddha in Oakland Park on the fourth Tuesday of each month. Schedule events are posted at <a href="https://www.meetup.com/Nerd-Nite-Fort-Lauderdale" target="_blank" alt="Nerd Nite">Meetup.com/Nerd-Nite-Fort-Lauderdale</a>
                      </p>
                    </div>

                 </div>
               <div class="divider-dynamic"></div>
            </div>
          </div>

          <!-- Employer: FLTA -->
           <div class="row">
              <div class="col-md-10 wow">
                 <div class="row">

                 <!-- Company Logo -->
                    <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                      <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                      <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-flta.jpg", alt: "Fort Lauderdale Tech Association", class: "img-responsive pull-right" %></a>
                    </div>

                  <!-- Positon Date and Description -->
                    <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                      <h5 class="font-accident-one-bold text-left uppercase">Executive Director</h5>
                      <p class="small hovercolor">Fort Lauderdale Tech Association (FLTA)</p>
                      <div class"experience date"><p>2016 - 2017</p></div>
                        <p class="text-left small">
                        Created in 2016 to build, better, and unify the growing tech industry in Broward County.  Our mission is to provide a welcoming and supportive platform for the local tech community to meet and collaborate, create and find incubators for technology startups, and accelerate the growth and quality of Broward County’s tech industry on an international level.
                        </p>
                    </div>

            </div>
            <div class="divider-dynamic"></div>
          </div>
        </div>

            <!-- Employer: IGLTA INC -->
             <div class="row">
                <div class="col-md-10 wow">
                   <div class="row">

                   <!-- Company Logo -->
                      <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                        <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                        <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-iglta.png", alt: "IGLTA", class: "img-responsive pull-right" %></a>
                      </div>

                    <!-- Positon Date and Description -->
                      <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                        <h5 class="font-accident-one-bold text-left uppercase">project manager</h5>
                        <p class="small hovercolor">International Gay & Lesbian Travel Association, Inc. (IGLTA)</p>
                        <div class"experience date"><p>2009 - 2016</p></div>
                          <p class="text-left small">
                          Job role grew exponentially from start date with only two employees to having full and part-time staff of 30+.  Primary duties included extensive convention and board meeting planning, employee training and hiring, unofficial tech department, primary contact for large sponsors. Appropriately and affectionately named the 'Everything Dept.'<br><br>Created and maintained dedicated conference website for 6+ years (Wordpress). Extensive HTML and CSS use for email communications form the association to business-member base as well as consumer audience. Oversaw the creation, launch, and regular update of the company's first app. Oversaw first website overhaul in 20 years. Promoter of project management software and tools. Handled many aspects of traditional marketing department, including ad/artwork creation for master brand as well as conference branding which changed each year, sometimes in multiple languages depending on the host country.
                          </p>
                      </div>

              </div>
              <div class="divider-dynamic"></div>
            </div>
          </div>

          <!-- Employer: REALTOR -->
           <div class="row">
              <div class="col-md-10 wow">
                 <div class="row">

                 <!-- Company Logo -->
                    <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                      <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                      <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-rrinc.png", alt: "Rainbow Realty", class: "img-responsive pull-right" %></a>
                    </div>

                <!-- Positon Date and Description -->
                  <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                    <h5 class="font-accident-one-bold text-left uppercase">Realtor</h5>
                    <p class="small hovercolor">Rainbow Realty,Inc.</p>
                    <div class"experience date"><p>2012-2014</p></div>
                      <p class="text-left small">
                      Small business owner / Licensed Realtor® - second full time job alongside IGLTA. Specialized in green, eco-friendly homes. Emphasized innovative/new marketing/tech with tracked results.
                      </p>
                    </div>

            </div>
            <div class="divider-dynamic"></div>
          </div>
        </div>

        <!-- Employer: SBB&T -->
         <div class="row">
            <div class="col-md-10 wow">
               <div class="row">

               <!-- Company Logo -->
                  <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                    <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                    <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-sbbt.png", size: "125x125", alt: "Santa Barbara Bank & Trust", class: "img-responsive pull-right" %></a>
                  </div>

                <!-- Positon Date and Description -->
                  <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                    <h5 class="font-accident-one-bold text-left uppercase">merchant services manager</h5>
                    <p class="small hovercolor">Santa Barbara Bank & Trust (SBB&T)</p>
                    <div class"experience date"><p>2004 - 2008</p></div>
                      <p class="text-left small">
                      Concierge bank cashier for business accounts, mostly service and retail clients.
                      </p>
                  </div>

          </div>
          <div class="divider-dynamic"></div>
        </div>
      </div>

      <!-- Employer: SBF -->
       <div class="row">
          <div class="col-md-10 wow">
             <div class="row">

              <!-- Company Logo -->
                <div class="col-xs-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-offset="10" data-wow-duration="2.5">
                  <a href="<%= asset_path "Deven_Blackburn_CV.pdf" %>" target="_blank">
                  <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-company-sbf.png", alt: "Santa Barbara Foundation", class: "img-responsive pull-right" %></a>
                </div>

                <!-- Positon Date and Description -->
                  <div class="col-xs-9 wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10" data-wow-duration="2">
                    <h5 class="font-accident-one-bold text-left uppercase">donor volunteer outreach</h5>
                    <p class="small hovercolor">Santa Barbara Foundation</p>
                    <div class"experience date"><p>2004 - 2007</p></div>
                    <p class="text-left small">
                    Worked as liaison between community businesses and local non-profits to find synergy and advance common goals.  Organized private fundraisers, point of contact for major donors, created, sought/trained/managed intern program.
                    </p>
                  </div>

              </div>
              <div class="divider-dynamic"></div>
            </div>
          </div>

        </div>
      </section> <!-- Company block end -->

      <!-- Testmonials -->

      <!-- Line -->
        <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/bar.png", class: "img-responsive center-block" %>

        <section id="testmonials" class="inner-section skin">
           <div class="container-fluid nopadding">

             <div class="col-sm-12 col-md-12 wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
               <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-header-testimonial.png", class: "img-responsive center-block" %>
             </div>

             <div class="col-sm-12 col-md-12">
               <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/dotted-bar.png", class: "img-responsive center-block" %>
             </div>

             <div class="divider-dynamic"></div>

             <!-- Offset col -->
             <div class="col-md-2 col-lg-2">&nbsp;</div>

             <div class="row">

             <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                <div class="row">
                   <div class="col-xs-3">
                     <img src="<%= asset_path "testimonial-richard.jpg" %>" alt="Richard Gray" class="img-responsive img-circle author-userpic">
                  </div>
                  <div class="col-xs-9">
                     <h5 class="font-accident-one-bold text-left uppercase">Richard Gray</h5>
                     <p class="small hovercolor"><b>Managing Director</b><br> Greater Fort Lauderdale Convention & Visitors Bureau</p>
                     <p class="text-left small">
                     I have worked with Deven for many years in my capacity as Vice Chairman of IGLTA. Deven is personable, pro-active and a team player who goes out of his way to support his team. Any company would be lucky to have him.
                     </p>
                   </div>
                </div>
                <div class="divider-dynamic"></div>
             </div>
             </div>

              <!-- Offset col -->
              <div class="col-md-2 col-lg-2">&nbsp;</div>

              <div class="row">

                <div class="col-md-8 col-lg-8 wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                       <div class="col-xs-3">
                         <img src="<%= asset_path "testimonial-deb.png" %>" alt="Deborah Sas" class="img-responsive img-circle author-userpic">
                      </div>
                      <div class="col-xs-9">
                         <h5 class="font-accident-one-bold text-left uppercase">Deborah Sas</h5>
                         <p class="small hovercolor"><b>Senior Director</b><br> MCI USA</p>
                         <p class="text-left small">
                          Deven is one of the best employees I've had a chance to work with to date. He is always professional regardless of the challenge ahead, extremely organized and the first to suggest solutions. I would hire him in a heartbeat.
                         </p>
                       </div>
                    </div>
                    <div class="divider-dynamic"></div>
                 </div>

                 <!-- Offset col -->
                 <div class="col-md-2 col-lg-2">&nbsp;</div>

                 <div class="row">

                 <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                       <div class="col-xs-3">
                         <img src="<%= asset_path "testimonial-loann.jpg" %>" alt="LoAnn Halden" class="img-responsive img-circle author-userpic">
                      </div>
                      <div class="col-xs-9">
                         <h5 class="font-accident-one-bold text-left uppercase">LoAnn Halden</h5>
                         <p class="small hovercolor"><b>Communications Director</b><br> IGLTA, Inc.</p>
                         <p class="text-left small">
                          Deven and I worked side by side at IGLTA for almost seven years and he was my most dedicated and intuitive collaborator. We created marketing materials for print and web on a shoestring, and it was his design savvy that made them soar. I can only imagine how far he'll go now with his Wyncode experience!
                         </p>
                       </div>
                    </div>
                    <div class="divider-dynamic"></div>
                 </div>
                 </div>

                 <!-- Offset col -->
                 <div class="col-md-2 col-lg-2">&nbsp;</div>

                 <div class="row">

                 <div class="col-md-8 col-lg-8 wow wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                    <div class="row">
                       <div class="col-xs-3">
                         <img src="<%= asset_path "testimonial-matt.png" %>" alt="Matt Skallerud" class="img-responsive img-circle author-userpic">
                      </div>
                      <div class="col-xs-9">
                         <h5 class="font-accident-one-bold text-left uppercase">Matt Skallerud</h5>
                         <p class="small hovercolor"><b>President</b><br> Pink Banana Media</p>
                         <p class="text-left small">
                         Deven is excellent to work with... very conscientious about his work and very detail oriented, making working with him a pleasure. He was also very adept at solving tasks and challenges sent his way, whether they were administrative in nature or technical as related to some sort of social media marketing outreach or website update.
                         </p>
                       </div>
                    </div>
                    <div class="divider-dynamic"></div>
                 </div>
                 </div>

                <!-- Offset col -->
                <div class="col-md-2 col-lg-2">&nbsp;</div>

                <div class="row">

                <div class="col-md-8 col-lg-8 wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="10">
                       <div class="row">
                          <div class="col-xs-3">
                            <img src="<%= asset_path "testimonial-johnt.jpg" %>" alt="John Tanzella" class="img-responsive img-circle author-userpic">
                         </div>
                         <div class="col-xs-9">
                            <h5 class="font-accident-one-bold text-left uppercase">John Tanzella</h5>
                            <p class="small hovercolor"><b>President & CEO</b><br> IGLTA, Inc.</p>
                            <p class="text-left small">
                             I worked with Deven for over seven years.  He was a hard worker, detail oriented, very organized, and a staunch professional.  A solid asset to any company.  I wish him all the best!
                            </p>
                          </div>
                       </div>
                       <div class="divider-dynamic"></div>
                    </div>

                 </div>
              </div>

              <div class="dividewhite3"></div>

           </div>
        </section>

      <div class="dividewhite1"></div>

    </div> <!-- Stats end -->

</div>

    <!-- Contact Details -->
      <section id="m-details" class="inner-section skin">
        <div class="container-fluid nopadding">

          <!-- Location -->
            <div class="col-sm-4 col-md-4 wow fadeInLeft" data-wow-delay="0.4s" data-wow-offset="10">
               <h3 class="font-accident-two-normal uppercase"></h3>
               <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-location.png", alt: "Fort Lauderdale, USA", class: "img-responsive center-block" %>
               <div class="dividewhite1"></div>
            </div>

          <!-- Phone -->
            <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="10">
               <h3 class="font-accident-two-normal uppercase"></h3>
               <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-phone.png", alt: "My Cell", class: "img-responsive center-block" %>
               <div class="dividewhite1"></div>
            </div>

          <!-- Web -->
            <div class="col-sm-4 col-md-4 wow fadeInRight" data-wow-delay="0.4s" data-wow-offset="10">
               <h3 class="font-accident-two-normal uppercase"></h3>
               <%= image_tag "https://s3-us-west-2.amazonaws.com/fortlauderdaletech.org/portfolio/resume-web.png", alt: "Email and Website", class: "img-responsive center-block" %>
               <div class="dividewhite1"></div>
            </div>

        </div>
      </section>

    <div class="dividewhite2"></div>

  </section>

</div>
