<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Deven Blackburn | Developer</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- stylesheets and js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body class="boxed nopadding">

<header>
   <section id="top-navigation" class="container-fluid nopadding">
      <div class="row nopadding ident e-bg-light-texture">

      <!-- Photo -->
        <a href="<%= root_path %>">
          <div class="col-md-5 col-lg-4 vc-photo"></div>
        </a>

    <div class="col-md-7 col-lg-8 vc-name nopadding">

      <!-- Name positioning -->
        <div class="row nopadding name">
          <div class="col-md-10 name-title">
            <h2 class="font-accident-two-light uppercase">Deven Blackburn</h2>
          </div>
        </div>

      <!-- Name positioning -->
        <div class="row nopadding position">
          <div class="col-md-10 position-title">
            <section class="cd-intro">
              <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                <span>passionate </span>
                <span class="cd-words-wrapper">
                  <b class="is-visible">Front End Developer</b>
                  <b>Back End Developer</b>
                  <b>Full Stack Developer</b>
                  <b>& Well-Rounded</b>
                </span>
              </h4>
            </section>
          </div>
        </div>

      <!-- Main Navigation -->
        <ul id="nav" class="row nopadding cd-side-navigation">
          <li class="col-xs-4 col-sm-2 nopadding menuitem green">
            <a href="<%= root_path %>" class="hvr-sweep-to-bottom"><br>
              <%= image_tag "icon-home.png", :size => '54x54' %>
              <span>home</span>
            </a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem blue">
            <a href="https://deven-blackburn.herokuapp.com/Deven_Blackburn_CV.pdf" class="hvr-sweep-to-bottom" target="_blank"><br>
              <%= image_tag "icon-resume2.png", :size => '54x54' %>
              <span>resume</span>
            </a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem cyan">
            <a href="<%= projects_path %>" class="hvr-sweep-to-bottom"><br>
              <%= image_tag "icon-projects3.png", :size => '54x54' %>
              <span>projects</span>
            </a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem orange">
            <a href="<%= contact_path %>" class="hvr-sweep-to-bottom"><br>
              <%= image_tag "icon-contact.png", :size => '54x54' %>
              <span>contact</span>
            </a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem red">
            <a href="<%= projects_path %>" class="hvr-sweep-to-bottom"><br>
              <%= image_tag "icon-blog.png", :size => '54x54' %>
              <span>blog</span>
            </a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem yellow github">
            <a href="https://github.com/hkdeven" target="_blank" class="hvr-sweep-to-bottom"><br>
              <%= image_tag "icon-github.png", :size => '54x54' %>
              <span>github</span>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </section>
</header>

  <!-- Container -->
    <div class="content-wrap">
       <section id="homesection" class="container-fluid nopadding">
          <div class="m-details row nopadding skin">

              <%= yield %>

          </div>
       </section>
    </div>

  <!--Footer-->
    <footer class="padding-50 e-bg-light-texture">
       <div class="container-fluid nopadding">
          <div class="row wow fadeInDown" data-wow-delay=".2s" data-wow-offset="10">
            <div class="col-md-3">
              <h4 class="font-accident-two-bold uppercase">Deven Blackburn</h4>
              <p class="inline-block">Passionate and determined Full Stack Developer available for hire.</p>
              <div class="divider-dynamic"></div>
            </div>
            <div class="col-md-3 cv-link">
              <h4 class="font-accident-two-bold uppercase">Download My Resume</h4>
                <div class="dividewhite1"></div>
                  <a href="https://deven-blackburn.herokuapp.com/Deven_Blackburn_CV.pdf">
                    <%= image_tag "download.png", :size => '13x13' %>
                    English
                  </a>
                  <a href="https://deven-blackburn.herokuapp.com/Deven_Blackburn_CV.pdf">
                    <%= image_tag "download.png", :size => '13x13' %>
                    Spanish
                  </a>
                <div class="divider-dynamic"></div>
            </div>

          <!-- Social links -->
            <div class="col-md-3">
              <h4 class="font-accident-two-bold uppercase">Follow me at</h4>
                <div class="inline-block">
                  <a href="https://www.facebook.com/hkdeven" target="_blank">
                    <%= image_tag "social-facebook.png" %>
                  </a>
                </div>
                <div class="inline-block">
                  <a href="https://twitter.com/MakeCodeNotWar" target="_blank">
                    <%= image_tag "social-twitter.png" %>
                  </a>
                </div>
                <div class="inline-block">
                  <a href="https://www.instagram.com/deven.b/" target="_blank">
                    <%= image_tag "social-instagram.png" %>
                  </a>
                </div>
                <div class="inline-block">
                  <a href="https://www.linkedin.com/in/devenblackburn" target="_blank">
                    <%= image_tag "social-linkedin.png" %>
                  </a>
                </div>
                <div class="inline-block">
                  <a href="https://github.com/hkdeven" target="_blank">
                    <%= image_tag "social-github.png" %>
                  </a>
                </div>
                <div class="divider-dynamic"></div>
             </div>

          </div>
        </div>

      <div class="dividewhite1"></div>

        <div class="row wow fadeInDown" data-wow-delay=".4s" data-wow-offset="10">
          <div class="col-md-12 copyrights">
            <p>© 2016 CODEFLL, Inc.</p>
          </div>
        </div>

      </div>
    </footer>

    <div id="image-cache" class="hidden"></div>

  </body>
</html>
